[Desktop Entry]
Type=Application
Terminal=true
Name=Jackfish
Icon=/home/lm/src/jackfish/assets/jf.jpg
Exec=bash -c "source /home/lm/venvs/lm310/bin/activate; bash /home/lm/src/jackfish/build.sh /home/lm/src/jackfish; python /home/lm/src/jackfish/jackfish/gui/main_controller.py"
